@model NoteMarketPlace.ViewModel.NoteDetailsViewModel
@{
    ViewBag.Title = "AddNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_userHeader")

<div class="page-banner">
    <h2 class="page-banner-text">Add Notes</h2>
</div>
<section id="add-note-page-content" class="for-footer-at-bottom">
    <div class="content-box">
        <div class="container">

            @using (Html.BeginForm("SaveNote", "User", FormMethod.Post, new { @enctype = "multipart/form-data", id = "SaveNotes" }))
            {
                @Html.AntiForgeryToken()
                <!-- Basic Profile Details -->
                <div id="basic-note-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Basic Note Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.Title)
                                @Html.TextBoxFor(m => m.NoteDetails.Title, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your note Title"
                                })
                                @Html.ValidationMessageFor(m => m.NoteDetails.Title)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">

                                @Html.LabelFor(m => m.NoteDetails.CategoryId)
                                @Html.DropDownListFor(m => m.NoteDetails.CategoryId, new SelectList(Model.Categories, "Id", "Name"),
                                        "Select Your Category", new { @class = "form-control input-box relative remove-arrow" })
                                @Html.ValidationMessageFor(m => m.NoteDetails.CategoryId)
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.DisplayPicture)

                                <div class="file-upload-box">
                                    @Html.TextBoxFor(m => m.NoteDetails.DisplayPicture, new
                                    {
                                         type = "file",
                                         Name = "DisplayPic",
                                         @class = "relative form-control input-box"
                                    })
                                    @Html.ValidationMessage("pic format")
                                   
                                </div>
                                <div id="upload-display-pic" class="text-center for-upload-center">
                                    <img src="~/images/User-Profile/upload.png" alt="">
                                    <p>Upload a Picture</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.NotePdf)
                                <div class="file-upload-box">
                                    @Html.TextBoxFor(m => m.NoteDetails.NotePdf, new
                                    {
                                        type = "file",

                                        @class = "relative form-control input-box"
                                    })
                                    @Html.ValidationMessageFor(m => m.NoteDetails.NotePdf)
                                    @Html.ValidationMessage("pdf format")
                                </div>
                                <div id="upload-note" class="text-center for-upload-center">
                                    <img src="~/images/front/upload-note.png" alt="">
                                    <p>Upload your Notes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.NoteTypeId)
                                @Html.DropDownListFor(m => m.NoteDetails.NoteTypeId, new SelectList(Model.Types, "Id", "Name"),
                                        "Select Your Note Type", new { @class = "form-control input-box relative remove-arrow" })

                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.NumberOfPages)
                                @Html.TextBoxFor(m => m.NoteDetails.NumberOfPages, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Number Of Pages"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.Description)
                                @Html.TextAreaFor(m => m.NoteDetails.Description, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Description..."
                                })
                                @Html.ValidationMessageFor(m => m.NoteDetails.Description)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Address Details -->
                <div id="institution-information">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Institution Information</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">

                                @Html.LabelFor(m => m.NoteDetails.CountryId)
                                @Html.DropDownListFor(m => m.NoteDetails.CountryId, new SelectList(Model.Countries, "Id", "Name"),
                                        "Select Your Country", new { @class = "form-control input-box relative remove-arrow" })

                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoteDetails.InstituteName)
                                @Html.TextBoxFor(m => m.NoteDetails.InstituteName, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Institute"
                                })

                            </div>
                        </div>
                    </div>
                </div>
                <!-- University And College Information -->
                <div id="course-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Course Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.CourseName)
                                @Html.TextBoxFor(m => m.NoteDetails.CourseName, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Course Name"
                                })

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoteDetails.CourseCode)
                                @Html.TextBoxFor(m => m.NoteDetails.CourseCode, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Course Code"
                                })

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.Professor)
                                @Html.TextBoxFor(m => m.NoteDetails.Professor, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Professor Name"
                                })

                            </div>
                        </div>
                    </div>
                </div>

                <div id="selling-information">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Selling Information</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoteDetails.SellFor, new { style = "margin:0;" })

                                <div id="radio-input">

                                    @foreach (var radio in Model.SellingMode)
                                    {<div class="form-check-inline">
                                            @if (radio.Value.ToLower() == "free")
                                            {
                                                @Html.RadioButtonFor(m => m.NoteDetails.SellFor, radio.ID, new { @checked = "checked", @class = "form-check-input" }) @radio.Value
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(m => m.NoteDetails.SellFor, radio.ID, new { @class = "form-check-input" }) @radio.Value
                                            }
                                        </div>
                                    }
                                    @Html.ValidationMessageFor(m => m.NoteDetails.SellFor)

                                </div>
                            </div>
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.SellPrice)
                                @Html.TextBoxFor(m => m.NoteDetails.SellPrice, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Your Price"
                                })
                                @Html.ValidationMessageFor(m => m.NoteDetails.SellPrice)
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.NoteDetails.NotePreview)

                                <div class="file-upload-box" id="note-preview-box">
                                    @Html.TextBoxFor(m => m.NoteDetails.NotePreview, new
                                    {
                                        Name = "PreviewNote",
                                        @class = "form-control input-box relative",
                                        type = "file"
                                    })
                                    @Html.ValidationMessageFor(m => m.NoteDetails.NotePreview)
                                    @Html.ValidationMessage("preview")
                                    @Html.ValidationMessage("preview pdf format")
                                </div>
                                <div id="upload-note-preview" class="text-center for-upload-center">
                                    <img src="~/images/User-Profile/upload.png" alt="">
                                    <p>Upload a file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.NoteDetails.NoteId)
                <input type="hidden" id="pub" value="@ViewBag.publish" />

                <a href="javascript:$('#SaveNotes').submit();" class="btn login-submit-btn btn-height" id="save-btn" role="button">Save</a>
                <button id="publish-btn" type="submit" name="publish" value="publish" class="btn btn-general">Publish</button>
            }
           
        </div>
    </div>
</section>

@Html.Partial("_Footer")

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#publish-btn").hide();
            var a = $("#pub").val();
            if (a == "publish") {
                $("#publish-btn").show();
            }
            
            $("#publish-btn").on("click", function (e) {
                if (confirm("Publishing this note will send note to administrator for review, once" +
                    "administrator review and approve then this note will be published to portal." +
                    "Press Ok to continue.")) {
                    
                }
                else {
                    e.preventDefault();
                }
            });
        });
    </script>
}