@model NoteMarketPlace.ViewModel.BuyerReqViewModel
@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_userHeader")


<section id="buyer-req-page" class="for-footer-at-bottom">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2 class="heading-md">Buyer Request</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    @using (@Html.BeginForm("BuyerRequest", "User", FormMethod.Post, new { id = "buyerReqForm" }))
                    {
                        <div class="form-inline relative" id="note-search">
                            @Html.TextBoxFor(m => m.search, new { @class = "form-control", placeholder = "Search" })

                            <img class="search-icon" src="~/images/Dashboard/search.jpg" alt="">
                            <a href="javascript:$('#buyerReqForm').submit();" class="btn login-submit-btn btn-height" role="button">Search</a>
                        </div>
                    }
                  
                </div>
            </div>

            <div class="table-responsive">
                <table class="table" id="buyerReq">
                    <thead>
                        <tr>
                            <th scope="col">SR NO.</th>
                            <th scope="col">NOTE TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">BUYER</th>
                            <th scope="col">PHONE NO.</th>
                            <th scope="col">SELL TYPE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">DOWNLOAD DATE/TIME</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.BuyerReq.Count() == 0)
                        {
                            <tr>
                                <td colspan="10">No Records Found</td>
                            </tr>
                        }
                        @{ int i = 1; }
                        @foreach (var note in Model.BuyerReq)
                        {
                            <tr style="min-height: 85px!important;">
                                <td scope="row">@i</td>
                                <td>@note.Title</td>
                                <td>@note.Category</td>
                                <td>@note.Buyer</td>
                                <td>@note.code @note.PhoneNo</td>
                                <td>@note.SellType</td>
                                <td>$@note.Price</td>
                                <td>@note.downloadDate.ToString("dd MMM yyyy, HH:mm:ss")</td>
                                <td>
                                    <a style="cursor:pointer;" href="@Url.Action("ViewNote", "User", new { id = note.NoteId })">
                                        <img src="~/images/Dashboard/eye.png" alt="view">
                                    </a>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/images/front/dots.png" alt="">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item allow" id="@note.DownloadId" href="">Allow Download</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>

@Html.Partial("_Footer")

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".allow").on("click", function () {
                var id = $(this).attr("id");
                $.ajax({
                    method: "POSt",
                    url: "@Url.Action("SellerAllowDownload", "User")?id=" + id,
                    error: function () {
                        alert("error")
                    },
                    success: function () {
                        window.location.href = "/User/BuyerRequest"
                    }
                });
            });

            $("#buyerReq").DataTable({
                pagingtype: "simple_numbers",
                columndefs: [
                    {
                        orderable: false, targets: 4
                    },
                    {
                        type: "date", targets: 7
                    }
                ],
                language: {
                    paginate: {
                        next: '<i class="fa fa-chevron-right"></i>',
                        previous: '<i class="fa fa-chevron-left"></i>'
                    }
                },
                order: [[7, "desc"]]
            });
        })
    </script>
}