@model NoteMarketPlace.Models.SingleNoteDetail
@{
    ViewBag.Title = "NoteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_userHeader")

<!-- Modal -->
<div class="modal fade" id="thanks-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/Notes Details/close.png" alt=""></span>
                </button>
            </div>
            <div class="modal-body" id="thanks-content">
                <div class="text-center">
                    <img src="~/images/Notes Details/SUCCESS.png" alt="">
                    <h2 class="heading-sm">Thank you for purchasing!</h2>
                </div>
                @if (Session["userId"] != null)
                {
                    <h6>Dear @Model.BuyerName,</h6>
                }
                <p>
                    As this is paid notes - you need to pay to seller Rahil Shah offline. We will send him an email
                    that you want to download this
                    note. He may contact you further for payment process completion.
                </p>
                <p>In case, you have urgency, <br> Please contact us on +9195377245959</p>
                <p>
                    Once he receive the payment and acknowledgement us - selected notes you can see over my downloads
                    tab for download
                </p>
                <p>have a good day.</p>
            </div>
        </div>
    </div>
</div>
<section id="note-details" class="for-footer-at-bottom">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sm">Notes Details</h3>
                </div>
            </div>

            <div class="row">
                <div class=" col-xl-7 col-lg-7 col-md-12">
                    <div id="note-left-side">
                        <div class="row">
                            <div class=" col-xl-4 col-lg-4 col-md-3 col-sm-4">
                                <div id="note-pic">
                                    <img src="@Url.Content("~/Members/"+Model.sellerNote.SellerID+"/"+Model.sellerNote.ID+"/"+Model.sellerNote.DisplayPicture)" alt="">
                                </div>
                            </div>
                            <div class=" col-xl-8 col-lg-7 col-md-9 col-sm-8">
                                <div id="note-description">
                                    <h2 class="heading-md">@Model.sellerNote.Title</h2>
                                    <h5>@Model.Category</h5>
                                    <p>
                                        @Model.sellerNote.Description
                                    </p>
                                    @if (Session["userId"] != null)
                                    {
                                        <a href="" class="btn login-submit-btn btn-height" id="download"
                                           data-toggle="modal">Download / $@Model.sellerNote.SellingPrice</a>
                                        @*if (Model.sellerNote.IsPaid)
                                        {
                                            <a href="" class="btn login-submit-btn btn-height" id="download"
                                               data-toggle="modal">Download / $@Model.sellerNote.SellingPrice</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DownloadFile","User",new { id=@Model.sellerNote.ID })" class="btn login-submit-btn btn-height">Download / $@Model.sellerNote.SellingPrice</a>
                                            <a href="" class="btn login-submit-btn btn-height">Download / $@Model.sellerNote.SellingPrice</a>
                                        }*@
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Account")" class="btn login-submit-btn btn-height">Download / $@Model.sellerNote.SellingPrice</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-5 col-lg-5 col-md-12">
                    <div id="note-right-side">
                        <ul>
                            <li>Institute: <span class="value">@Model.sellerNote.UniversityName</span></li>
                            <li>Country: <span class="value">@Model.Country</span></li>
                            <li>Course Name: <span class="value">@Model.sellerNote.Course</span></li>
                            <li>Course Code: <span class="value">@Model.sellerNote.CourseCode</span></li>
                            <li>Proffessor: <span class="value">@Model.sellerNote.Professor</span></li>
                            <li>Number of Pages: <span class="value">@Model.sellerNote.NumberOfPages</span></li>
                            <li>Approved Date: <span class="value">November 25 2020</span></li>
                            <li>
                                Rating: <span class="value">
                                            <span class="starss">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i < Model.avg)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }
                                               
                                                <p>@Model.count reviews</p>
                                            </span>

                                </span>
                            </li>
                            <li>@Model.inappropriateCount user marked this note as inappropriate</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-box">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h2 class="heading-sm">Notes Preview</h2>


                            <!-- embed responsive iframe -->
                            <!-- ======================= -->

                            <div id="Iframe-Master-CC-and-Rs"
                                 class="set-margin set-padding set-border set-box-shadow center-block-horiz">
                                <div class="responsive-wrapper
                                        responsive-wrapper-wxh-572x612" style="-webkit-overflow-scrolling: touch; overflow: auto;">

                                    <iframe src="@Url.Content("~/Members/"+Model.sellerNote.SellerID+"/"+Model.sellerNote.ID+"/"+Model.sellerNote.NotesPreview)">
                                        <p style="font-size: 110%;">
                                            <em>
                                                <strong>ERROR: </strong>
                                                An &#105;frame should be displayed here but your browser version
                                                does not support &#105;frames.
                                            </em>Please update your browser to
                                            its most recent version and try again.
                                        </p>
                                    </iframe>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12" id="customer-review-block">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heading-sm">Customer Reviews</h2>
                            <div id="customer-reviews">
                                @if(Model.Reviews.Count() == 0)
                                {
                                    <h2 class="heading-sm">No Reviews Available.</h2>
                                }
                                @foreach (var review in Model.Reviews)
                                {
                                    <div class="row">
                                        <div class="col-md-1 col-sm-1 col-2">
                                            <img src="~/Members/@review.SellerId/@review.pic" alt="">
                                        </div>
                                        <div class="col-md-11 col-sm-11 col-10">
                                            <h4 class="heading-sm">@review.Name</h4>
                                            <span class="starss">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i < review.rating)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }
                                            </span>
                                            <p class="para-text">
                                               @review.comments
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="somehiddenfield" value="@Model.sellerNote.IsPaid" />
    <input type="hidden" id="for-id" value="@Model.sellerNote.ID" />
    <input type="hidden" id="session-id" value="@Session["userId"]" />
</section>

@Html.Partial("_Footer")

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#download").on("click", function () {
                var session = $("#session-id").val();
                var ispaid = $("#somehiddenfield").val();
                var noteid = $("#for-id").val();

                if (session != "") {
                    if (ispaid) {

                        if (confirm("Are You Sure Want To Download This Paid Book?")) {

                            $.ajax({
                                method: "POST",
                                url: "@Url.Action("SendMailToAdmin", "User")?id=" + noteid,
                                error: function (request) { console.log(request); },
                                success: function (data) {
                                    if (data == "entry") {
                                        $("#thanks-popup").modal("show");
                                        $("#download").hide();
                                    }
                                    else {
                                        alert("Please Check My Download Tab.");
                                    }
                                }
                            })

                        }
                    }
                    else {
                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("AddDownloadEntry", "User")?id=" + noteid,
                            error: function () {
                                alert("err")
                            },
                            success: function (data) {

                                if (data == "Allow") {
                                    alert("download");
                                    window.location = "/User/DownloadFile?id=" + noteid;
                                }
                                else {
                                    alert("not allow yet");
                                }
                            }
                        });
                    }
                }
            })
        });
    </script>
}