@model NoteMarketPlace.ViewModel.UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_userHeader")

<div class="page-banner">
    <h2 class="page-banner-text">User Profile</h2>
</div>
<section id="user-page-content">
    <div class="content-box">
        <div class="container">
            @using (Html.BeginForm("Save", "User", FormMethod.Post, new { @enctype = "multipart/form-data", id = "data" }))
            {
                @Html.AntiForgeryToken()
                <!-- Basic Profile Details -->
                <div id="profile-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Basic Profile Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.FirstName)
                                @Html.TextBoxFor(m => m.User.FirstName, new
                                {
                                    placeholder = "Enter Your First Name",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.FirstName)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.LastName)
                                @Html.TextBoxFor(m => m.User.LastName, new
                                {
                                    placeholder = "Enter Your Last Name",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.LastName)

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.Email)
                                @Html.TextBoxFor(m => m.User.Email, new
                                {
                                    placeholder = "Enter Your Email",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.Email)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group relative box-grp">
                                @Html.LabelFor(m => m.User.DateOfbirth)
                                @Html.TextBoxFor(m => m.User.DateOfbirth, "{0:d MMM yyyy}", new
                               {
                                   style = "-webkit-appearance: none;",
                                   placeholder = "Enter Your Birth Date",
                                   @class = "form-control input-box date",
                                   id = "date-of-birth"

                               })
                                @Html.ValidationMessageFor(m => m.User.DateOfbirth)

                                <img id="calendar-img" src="../../images/User-Profile/calendar.png" alt="calender">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.GenderID)
                                @Html.DropDownListFor(m => m.User.GenderID, new SelectList(Model.Gender, "Id", "Value"), "Select Your Gender", new { @class = "form-control input-box remove-arrow" })
                                @Html.ValidationMessageFor(m => m.User.GenderID)

                                <img src="../../images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group box-grp">

                                @Html.LabelFor(m => m.User.CountryCodeId) &nbsp;
                                @Html.ValidationMessageFor(m => m.User.CountryCodeId)
                                @Html.ValidationMessageFor(m => m.User.PhoneNo)

                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-3" id="select-country-code">

                                        @Html.DropDownListFor(m => m.User.CountryCodeId, new SelectList(Model.Countries, "CountryCode", "CountryCode"), "Code", new { @class = "form-control input-box remove-arrow" })

                                        <img src="../../images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                                        @Html.TextBoxFor(m => m.User.PhoneNo, new
                                        {
                                            type = "tel",
                                            @class = "form-control input-box",
                                            placeholder = "Enter Your Phone Number"
                                        })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.ProfilePicture, new { id = "profile-pic" })
                                <div class="file-upload-box">
                                    @Html.TextBoxFor(m => m.User.ProfilePicture, new
                                    {

                                        type = "file",
                                        @class = "relative form-control input-box",
                                        Name = "ProfilePic"
                                    })
                                    @Html.ValidationMessageFor(m => m.User.ProfilePicture)
                                    @Html.ValidationMessage("img format")

                                </div>
                                <div id="upload-profile-pic" class="text-center for-upload-center">
                                    <img src="../../images/User-Profile/upload.png" alt="">
                                    <p>Upload a Picture</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Address Details -->
                <div id="address-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">Address Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.Address1)
                                @Html.TextBoxFor(m => m.User.Address1, new
                                {
                                    placeholder = "Enter Your Address",
                                    @class = "form-control input-box",
                                })
                                @Html.ValidationMessageFor(m => m.User.Address1)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.Address2)
                                @Html.TextBoxFor(m => m.User.Address2, new
                                {
                                    placeholder = "Enter Your Address",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.Address2)

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.City)
                                @Html.TextBoxFor(m => m.User.City, new
                                {
                                    placeholder = "Enter Your City",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.City)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.State)
                                @Html.TextBoxFor(m => m.User.State, new
                                {
                                    placeholder = "Enter Your State",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.State)

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.ZipCode)
                                @Html.TextBoxFor(m => m.User.ZipCode, new
                                {
                                    placeholder = "Enter Your Zip Code",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.ZipCode)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group box-grp">
                                @Html.LabelFor(m => m.User.CountryId)
                                @Html.DropDownListFor(m => m.User.CountryId, new SelectList(Model.Countries, "Id", "Name"), "Select Your Country", new { @class = "form-control input-box remove-arrow" })
                                @Html.ValidationMessageFor(m => m.User.CountryId)

                                <img src="../../images/User-Profile/down-arrow.png" class="down-arrow" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- University And College Information -->
                <div id="university-clg-details">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading-md">University and College Information</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.University)
                                @Html.TextBoxFor(m => m.User.University, new
                                {
                                    placeholder = "Enter Your University",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.University)

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.College)
                                @Html.TextBoxFor(m => m.User.College, new
                                {
                                    placeholder = "Enter Your College",
                                    @class = "form-control input-box"
                                })
                                @Html.ValidationMessageFor(m => m.User.College)

                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.User.UserId)
                <a href="javascript:$('#data').submit();" class="btn login-submit-btn btn-height" role="button">Submit</a>
            }
        </div>
    </div>
</section>

@Html.Partial("_Footer")