@model NoteMarketPlace.ViewModel.AdminDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_adminHeader")

<div id="dashboard" class="top-margin for-footer-at-bottom">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-md">Dashboard</h2>
                </div>
            </div>

            <div id="dashboard-stats" class="admin-dash">
                <div class="row">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="dashboard-stats-box">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="text-center">
                                            <h3 class="heading-sm">@Model.PublishedCount</h3>
                                            <p class="para-text">Number of Notes in Review for Publish</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="dashboard-stats-box">
                                    <div class="row justify-content-center align-items-center ">
                                        <div class="text-center">
                                            <h3 class="heading-sm">@Model.NumberOfDownload</h3>
                                            <p class="para-text">Number of New Notes Downloaded<br>(last 7 days)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="dashboard-stats-box">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="text-center">
                                            <h3 class="heading-sm">@Model.NumberOfReg</h3>
                                            <p class="para-text">Number of New Registrations<br>(Last 7 days)</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="admin-published-note">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h2 class="heading-sm">Published Notes</h2>
                </div>
                <div class="col-lg-6 col-md-12">
                    @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Post))
                    {
                        <div class="form-inline relative note-search">
                            @Html.TextBoxFor(m => m.searchNote, new { @class = "form-control", placeholder = "Search" })
                            @*<input type="text" class="form-control" placeholder="Search notes here...">*@
                            <img class="search-icon" src="~/images/Dashboard/search.jpg" alt="">

                            <button type="button" id="search-btnn" class="btn search-btn">Search</button>
                            @Html.DropDownListFor(m => m.month, new SelectList(Model.LastSixMonth), "Select month", new {
                           @class = "relative remove-arrow form-control input-box"
                       })
                           
                        </div>
                    }

                </div>
            </div>
            <div class="table-responsive">
                <table class="table" id="admin-published-notes">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">SR NO.</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col" class="text-center">ATTACHMENT SIZE</th>
                            <th scope="col" class="text-center">SELL TYPE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">PUBLISHER</th>
                            <th scope="col">PUBLISHED DATE</th>
                            <th scope="col" class="text-center">NUMBER OF DOWNLOADS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ var i = 1; }
                        @foreach (var note in Model.PublishedNotes)
                        {
                            <tr>
                                <td scope="row" class="text-center">@i</td>
                                <td style="cursor:pointer;" onclick="window.location.href='@Url.Action("ViewNote", "User", new { id = note.Id })'">@note.Title</td>
                                <td>@note.Category</td>
                                <td class="text-center">@note.AttachmentSize</td>
                                <td class="text-center">@note.SellType</td>
                                <td>$@note.Price</td>
                                <td>@note.Publisher</td>
                                <td>@note.PublishedDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td class="text-center" style="cursor: pointer;"
                                    onclick="window.location='@Url.Action("DownloadedNotes", "Admin", new { note=note.Title})'"
                                    >@note.NumberOfDownloads</td>
                                <td>
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/images/admin/dots.png" alt="options">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" id="download-btn" data-id="@note.Id" href="javascript:void(0)">Download Note</a>
                                            <a href="@Url.Action("ViewNote", "User", new { id = note.Id})" class="dropdown-item">View More Details</a>
                                            <a class="dropdown-item unpublish" data-id="@note.Id" data-name="@note.Title" href="javascript:void(0)">Unpublish</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>

            </div>

           
        </div>

    </div>
</div>

@Html.Partial("_adminFooter")

@section scripts
{
    <script>
        $(document).ready(function () {
            //var value = $("select").children("option:first-child").html();

            //$("select").children("option:first-child").val(value);

            $("#admin-published-notes").DataTable({
                pagingtype: "simple_numbers",
                columndefs: [
                    {
                        orderable: false, targets: 4
                    },
                    {
                        type: "date", targets: 7
                    }
                ],
                language: {
                    paginate: {
                        next: '<i class="fa fa-chevron-right"></i>',
                        previous: '<i class="fa fa-chevron-left"></i>'
                    }
                },
                order: [[7, "desc"]]
            });

            $("#month").on("change", function () {
                var month = $(this).val();
                var search = $("#searchNote").val();
                window.location.href = "/Admin/dashboard?search="+search+"&month="+month;
            })
            $("#search-btnn").on("click", function () {
                var month = $("#month").val();
                var search = $("#searchNote").val();
                window.location.href = "/Admin/dashboard?search=" + search + "&month=" + month;
            })

            $("#download-btn").on("click", function () {
                var noteid = $(this).attr("data-id");
                window.location = "/User/DownloadFile?id=" + noteid;
            });

            $("#dashboard").on("click", ".unpublish", function () {
                var id = $(this).attr("data-id");
                var name = $(this).attr("data-name");
                var modal = `<!-- Modal -->
                        <div class="modal fade" id="unpublish" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                             aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><img src="/images/Notes Details/close.png" alt=""></span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="add-review-content">
                                        <h2 class="heading-sm">${name}</h2><br/>

                                        <div class="form-group">
                                            <label for="remark">Remarks *</label>
                                            <textarea id="remark" class="form-control" style="color:#000;" placeholder="Remarks ..."></textarea>
                                        </div>
                                        <div style="margin-bottom:20px;">
                                            <button class="btn btn-danger" data-id="${id}" id="unpublish-btn">Unpublish</button>
                                            <button class="btn btn-primary" id="cancel-btn" style="border:none;background-color:grey;">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>`;
                $("#dashboard").append(modal);
                $("#unpublish").modal("show");
            }).on("click", "#unpublish-btn", function () {
                    var id = $(this).attr("data-id");
                    var remark = $("#remark").val();

                if (!remark) {
                    $("<p id='remark-validation' style='color: red;'>Remarks is Required.</p>").insertAfter("#remark")
                }
                else {
                    if (confirm("Are you sure you want to Unpublish this note.")) {
                        $("#remark").val("");
                        $("#unpublish").modal("hide");
                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("UnpublishNote", "Admin")?NoteId=" + id + "&remark=" + remark,
                            error: function () {
                                alert("err")
                            },
                            success: function () {
                                window.location.reload();
                            }
                        });
                    }

                }

            }).on("click", "#cancel-btn", function () {
              
                $("#remark").val("");
                $("#remark-validation").remove();
                $("#unpublish").modal("hide");

            }).on("click","#close-btn", function () {
                $("#remark").val("");
                $("#remark-validation").remove();
            });

            $("ul.nav.navbar-nav li a").removeClass("active");
            $("ul.nav.navbar-nav li:first-child a ").addClass("active");
        })
    </script>
}