@model NoteMarketPlace.ViewModel.AdminNotesViewModel
@{
    ViewBag.Title = "DownloadedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_adminHeader")
<section id="admin-downloaded-notes" class="top-margin manage for-footer-at-bottom">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="heading-md">Downloaded Notes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="select-wrapper">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Note, new { style = "margin-bottom: 10px;" })
                            @Html.DropDownListFor(m => m.Note, new SelectList(Model.NotesTitles), "Select Note", new { @class = "form-control remove-arrow admin-select" })

                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Seller, new { style = "margin-bottom: 10px;" })
                            @Html.DropDownListFor(m => m.Seller, new SelectList(Model.Sellers, "ID", "Firstname"), "Select Seller", new { @class = "form-control remove-arrow admin-select" })

                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Buyer, new { style = "margin-bottom: 10px;" })
                            @Html.DropDownListFor(m => m.Buyer, new SelectList(Model.Buyers, "ID", "FirstName"), "Select Buyer", new { @class = "form-control remove-arrow admin-select" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-inline form-group relative note-search">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search" })
                        <img class="search-icon" src="~/images/Dashboard/search.jpg" alt="">
                        <button class="btn search-btn">Search</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table" id="admin-downloaded-notes-table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">SR NO.</th>
                            <th scope="col">NOTE TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">BUYER</th>
                            <th></th>
                            <th scope="col">SELLER</th>
                            <th></th>
                            <th scope="col">SELL TYPE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">DOWNLOAD <br> DATE/TIME</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var note in Model.DownloadedNotes)
                        {
                            <tr>
                                <td scope="row" class="text-center">@i</td>
                                <td style="cursor:pointer;" onclick="window.location.href='@Url.Action("ViewNote", "User", new { id = note.Id })'">@note.Title</td>
                                <td>@note.Category</td>
                                <td>@note.Buyer</td>
                                <td><img src="~/images/admin/eye.png" alt="eye btn"></td>
                                <td>@note.Seller</td>
                                <td><img src="~/images/admin/eye.png" alt=""></td>
                                <td>@note.SellType</td>
                                <td>$@note.Price</td>
                                <td data-order="@note.DownloadDate.ToString("MMddyyyyHHmmss")"
                                    >@note.DownloadDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td>
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/images/admin/dots.png" alt="dropdown-dots-menu">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" id="download-btn" data-id="@note.Id" href="javascript:void(0)">Download Note</a>
                                            <a href="@Url.Action("ViewNote", "User", new { id = note.Id})" class="dropdown-item">View More Details</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                </table>
            </div>

      
        </div>
    </div>
</section>
@Html.Partial("_adminFooter")
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#admin-downloaded-notes-table").DataTable({
                pagingtype: "simple_numbers",
                columndefs: [
                    {
                        orderable: false, targets: 4
                    },
                    {
                        type: "date", targets: 9
                    }
                ],
                language: {
                    paginate: {
                        next: '<i class="fa fa-chevron-right"></i>',
                        previous: '<i class="fa fa-chevron-left"></i>'
                    }
                },
                order: [[9, "desc"]]
            });

            $("#Seller").on("change", function () {
                var Seller = $(this).val();
                var Buyer = $("#Buyer").val();
                var Note = $("#Note").val();
                var search = $("#Search").val();
                window.location.href = "/Admin/DownloadedNotes?search=" + search + "&buyer=" + Buyer +"&seller="+Seller+"&note="+Note;
            })

            $("#Buyer").on("change", function () {
                var Seller = $("#Seller").val();
                var Buyer = $(this).val();
                var Note = $("#Note").val();
                var search = $("#Search").val();
                window.location.href = "/Admin/DownloadedNotes?search=" + search + "&buyer=" + Buyer + "&seller=" + Seller + "&note=" + Note;
            })
            $("#Note").on("change", function () {
                var Seller = $("#Seller").val();
                var Buyer = $("#Buyer").val();
                var Note = $(this).val();
                var search = $("#Search").val();
                window.location.href = "/Admin/DownloadedNotes?search=" + search + "&buyer=" + Buyer + "&seller=" + Seller + "&note=" + Note;
            })

            $(".search-btn").on("click", function () {
                var Seller = $("#Seller").val();
                var Buyer = $("#Buyer").val();
                var Note = $("#Note").val();
                var search = $("#Search").val();
                window.location.href = "/Admin/DownloadedNotes?search=" + search + "&buyer=" + Buyer + "&seller=" + Seller + "&note=" + Note;
            });

            $("#download-btn").on("click", function () {
                var noteid = $(this).attr("data-id");
                window.location = "/User/DownloadFile?id=" + noteid;
            });

        });
    </script>
}
