@model NoteMarketPlace.Models.ManageSystemConfiguration
@{
    ViewBag.Title = "ManageSystemConfiguration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_adminHeader")
<section id="manage-system-configuration-page" class="top-margin for-footer-at-bottom">
    <div class="content-box">
        <div class="container">
            @using (Html.BeginForm("SaveSystemConfiguration", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="profile-details">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="heading-md">Manage System Configuration</h2>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SupportEmail)
                                @Html.TextBoxFor(m => m.SupportEmail, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Email Address"
                                })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SupportPhoneNo)
                                @Html.TextBoxFor(m => m.SupportPhoneNo, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Phone Number"
                                })
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.EmailForEvent)
                                @Html.TextBoxFor(m => m.EmailForEvent, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Email Address"
                                })
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.FacebookURL)
                                @Html.TextBoxFor(m => m.FacebookURL, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Facebook Url"
                                })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.TwitterURL)
                                @Html.TextBoxFor(m => m.TwitterURL, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter Twitter Url"
                                })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.LinkedInURL)
                                @Html.TextBoxFor(m => m.LinkedInURL, new
                                {
                                    @class = "form-control input-box",
                                    placeholder = "Enter LinkedIn Url"
                                })
                            </div>

                            <div class="form-group box-grp relative">
                                @Html.LabelFor(m => m.ImageForNotes)

                                <div class="file-upload-box" id="note-preview-box">
                                    @Html.TextBoxFor(m => m.ImageForNotes, new
                                    {
                                       @class = "form-control input-box relative",
                                       type = "file"
                                    })
                                    @Html.ValidationMessageFor(m => m.ImageForNotes)
                                    @Html.ValidationMessage("note pic format")

                                </div>
                                <div class="text-center for-upload-center">
                                    <img src="~/images/User-Profile/upload.png" alt="">
                                    <p>Upload a Picture</p>
                                </div>
                            </div>

                            <div class="form-group box-grp relative">
                                @Html.LabelFor(m => m.ImageForUser)
                                <div class="file-upload-box" id="note-preview-box">

                                    @Html.TextBoxFor(m => m.ImageForUser, new
                                    {
                                       @class = "form-control input-box relative",
                                       type = "file"
                                    })
                                    @Html.ValidationMessageFor(m => m.ImageForUser)
                                    @Html.ValidationMessage("user pic format")

                                </div>
                                <div class="text-center for-upload-center">
                                    <img src="~/images/User-Profile/upload.png" alt="">
                                    <p>Upload a Picture</p>
                                </div>
                            </div>
                            <button type="submit" class="btn submit-btn">Submit</button>
                        </div>
                    </div>
                </div>
            }
                
            
        </div>
    </div>
</section>
@Html.Partial("_adminFooter")