@model NoteMarketPlace.ViewModel.MembersViewModel
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_adminHeader")
<section id="member-page" class="top-margin manage for-footer-at-bottom">
    <div class="content-box">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2 class="heading-md">Members</h2>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-inline relative note-search">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search" })
                        <img class="search-icon" src="~/images/Dashboard/search.jpg" alt="">
                        <button class="btn search-btn">Search</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table" id="members">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">SR NO.</th>
                            <th scope="col">FIRST NAME</th>
                            <th scope="col">LAST NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">JOINING DATE</th>
                            <th scope="col" class="text-center">UNDER REVIEW NOTES</th>
                            <th scope="col" class="text-center">PUBLISHED NOTES</th>
                            <th scope="col" class="text-center">DOWNLOADED NOTES</th>
                            <th scope="col" class="text-center">TOTAL EXPENSES</th>
                            <th scope="col" class="text-center">TOTAL EARNINGS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var member in Model.Members)
                        {
                            <tr>
                                <td scope="row" class="text-center">@i</td>
                                <td>@member.FirstName</td>
                                <td>@member.LastName</td>
                                <td>@member.Email</td>
                                <td data-order="@member.JoiningDate.ToString("MMddyyyyHHmmss")"
                                    >@member.JoiningDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td class="text-center" style="cursor:pointer;" 
                                    onclick="window.location='@Url.Action("NotesUnderReview", "Admin", new { name=member.Id})'">
                                    @member.UnderReviewNotesCount</td>
                                <td class="text-center" style="cursor:pointer;" 
                                    onclick="window.location='@Url.Action("PublishedNotes", "Admin", new { name=member.Id})'">
                                    @member.PublishedNotesCount</td>
                                <td class="text-center" style="cursor:pointer;" 
                                    onclick="window.location='@Url.Action("DownloadedNotes", "Admin", new { buyer=member.Id})'" >
                                    @member.DownloadedNotesCount</td>
                                <td class="text-center" style="cursor:pointer;" 
                                    onclick="window.location='@Url.Action("DownloadedNotes", "Admin", new { buyer=member.Id})'">
                                    $@member.TotalExpensive</td>
                                <td class="text-center">$@member.TotalEarning</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/images/admin/dots.png" alt="options">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="@Url.Action("MemberDetails", "Admin", new { id = member.Id })">View More Details</a>
                                            <a class="dropdown-item deactive" id="@member.Id" href="javascript:void(0)">Deactivate</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                       
                    </tbody>
                </table>
            </div>

          
        </div>
    </div>
</section>
@Html.Partial("_adminFooter")

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#members").DataTable({
                pagingtype: "simple_numbers",
                columndefs: [
                    {
                        orderable: false, targets: 10
                    },
                    {
                        type: "datetime", targets: 4
                    }
                ],
                language: {
                    paginate: {
                        next: '<i class="fa fa-chevron-right"></i>',
                        previous: '<i class="fa fa-chevron-left"></i>'
                    }
                },
                order: [[4, "desc"]]
            });


            $(".deactive").on("click", function () {
                var id = $(this).attr("id");
                if (confirm("Are you sure you want to make this member inactive?")) {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("Deactive", "Admin")",
                        data: { id: id },
                        success: function () {
                            window.location.reload();
                        },
                        error: function () {
                            alert("error");
                        }
                    })
                }
            });
            $(".search-btn").on("click", function () {
                var search = $("#Search").val();
                window.location.href = "/Admin/Members?search=" + search;
            })
        });
    </script>
}
