@model NoteMarketPlace.Models.ContactUs
@{
    ViewBag.Title = "Contact";
}


@Html.Partial("_userHeader")

<div class="page-banner">
    <h2 class="page-banner-text">Contact Us</h2>
</div>
<section id="contact-us-page" class="for-footer-at-bottom">
    <div class="content-box">
        <div class="container">
            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { id = "contact"})) 
            { 
                <!-- Basic Profile Details -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2 class="heading-md">Get in Touch</h2>
                        <h4 class="para-text">Let us know how to get back to you</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new
                            {
                                @class = "form-control input-box",
                                placeholder = "Enter Your First Name"
                            })
                            @Html.ValidationMessageFor(m => m.FirstName)

                        </div>
                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new
                            {
                                @class = "form-control input-box",
                                placeholder = "Enter Your Email Address"
                            })
                            @Html.ValidationMessageFor(m => m.Email)

                        </div>
                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.Subject)
                            @Html.TextBoxFor(m => m.Subject, new
                            {
                                @class = "form-control input-box",
                                placeholder = "Enter Your Subject"
                            })
                            @Html.ValidationMessageFor(m => m.Subject)
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.Comments)
                            @Html.TextAreaFor(m => m.Comments, new
                            {
                                @class = "form-control input-box",
                                placeholder = "Comments...",
                                rows="13"
                            })
                            @Html.ValidationMessageFor(m => m.Comments)
                            
                        </div>
                    </div>
                </div>
                <input type="hidden" id="msg" value="@ViewBag.send"/>
                <input type="hidden" id="user" value="@ViewBag.contact" />
                <a href="javascript:$('#contact').submit();" class="btn login-submit-btn btn-height">Submit</a>

            }
        </div>
    </div>
</section>
@Html.Partial("_Footer")

@section scripts
{
    <script>
        $(document).ready(function () {

            var user = $("#user").val();
            if (user == "UserContact") {
                $("#Email").attr("disabled", "disabled");
            }
            var msg = $("#msg").val();
            if (msg == "success") {
                alert("Thank you for contact with us.")
            }
        })
    </script>
}