@model NoteMarketPlace.Models.SearchNotes
@{
    ViewBag.Title = "SearchNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_userHeader")

<div class="page-banner">
    <h2 class="page-banner-text">Search Notes</h2>
</div>

<section id="search-filter">
    <div class="content-box">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-sm">Search and Filter Notes</h2>
                </div>
            </div>
            <div class="row">
                <div id="search">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group relative" id="input-search">
                                <input id="SearchNotess" type="text" class="form-control" placeholder="Search notes here...">
                                <img class="search-icon" src="~/images/Dashboard/search.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.Types, "Id", "Name"),
                                      "Select Type", new { value = "0", @class = "form-control remove-arrow" })
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"),
                                      "Select Category", new { @class = "form-control remove-arrow" })
                               
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.UniversityId, new SelectList(Model.Universities),
                                     "Select University", new { @class = "form-control remove-arrow" })
                               
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CourseId, new SelectList(Model.Courses),
                                      "Select Course", new { @class = "form-control remove-arrow" })
                                
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "Id", "Name"),
                                      "Select Country", new { @class = "form-control remove-arrow", placeholder = "Select" })
                               
                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.rate, new SelectList(Model.RatingList),
                                     "Select Ratings", new { @class = "form-control remove-arrow", placeholder = "Select" })

                                <img src="~/images/User-Profile/down-arrow.png" class="down-arrow-filter" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="searched-notes">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-sm" id="Total-count">Total @Model.totalCount Notes</h2>
                </div>

            </div>
            <div class="row" id="Main-notes">
                @foreach (var note in Model.sellerNotes)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='@Url.Action("ViewNote", "User", new { id = note.ID })';" style="cursor: pointer;" data-note-id="@note.ID">
                        <div class="note-wrapper">
                            <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                <img style="height:100%;object-fit:cover;" src="@Url.Content("~/Members/" + note.SellerID + "/" + note.ID + "/" + note.DisplayPicture)" class="img-fluid note-image" alt="">
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="office">
                                            <div class="heading">
                                                <h3 class="heading-sm">
                                                    @note.Title
                                                </h3>
                                            </div>
                                            <ul class="university-details">
                                                <li>
                                                    <span class="university-detail-img text-center">
                                                        <img src="~/images/front/university.png" alt="">
                                                    </span><span>@note.UniversityName</span>
                                                </li>
                                                <li>
                                                    <span class="university-detail-img text-center">
                                                        <img src="~/images/front/pages.png" alt="">
                                                    </span>
                                                    <span>@note.NumberOfPages Pages</span>
                                                </li>
                                                <li>
                                                    <span class="university-detail-img text-center">
                                                        <img src="~/images/front/date.png" alt="">
                                                    </span>
                                                    @{ DateTime d = (DateTime)note.CreatedDate; var dd = d.ToString("ddd, MMM dd yyyy");}
                                                    <span>@dd</span>
                                                </li>
                                                <li>
                                                    <span class="university-detail-img text-center">
                                                        <img src="~/images/front/flag.png" alt="">
                                                    </span>
                                                    <span>@note.inappropriateCount Users marked this note as inappropriate</span>
                                                </li>
                                                <li>
                                                    <span class="starss">
                                                        @for (var i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= note.avg)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star-o"></i>
                                                            }
                                                        }
                                                     
                                                        <p>@note.count reviews</p>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>


<nav id="pagination" aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link js-prev" id="prev" href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
            </a>
        </li>
        
        @for (int i = 0; i < Math.Ceiling((float)Model.totalCount / Model.perPageCount); i++)
        {
            if (i == 0)
            {
                <li class="page-item" id="pagination-@i"><a class="page-link active js-page" id="@i" href="javascript:void(0)">@(i+1)</a></li>
            }
            else
            {
                <li class="page-item" id="pagination-@i"><a class="page-link  js-page" id="@i" href="javascript:void(0)">@(i+1)</a></li>

            }
        }
        <li class="page-item">
            <a class="page-link js-next" id="next" href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
            </a>
        </li>
    </ul>
</nav>
@Html.Partial("_Footer")
@section scripts
{
    <script>
       
        $(document).ready(function () {
            $("#next").on("click", function (e) {

                var currentPage = $(".js-page.active");
                var id = $(".js-page.active").attr("id");


                if (+id + 1 == @Math.Ceiling((float)Model.totalCount / Model.perPageCount)) {
                    return;
                }
                $.ajax({
                    method: "GET",
                    url: "@Url.Action("SearchNotesPagination", "Home")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { start: (+id+1) * @Model.perPageCount, end: @Model.perPageCount },
                    success: function (notes) {
                        currentPage.removeClass("active");
                        currentPage.parent("li").next("li").children("a").addClass("active");

                        var main = $("#Main-notes");
                        main.html("");

                        notes.sellerNotes.forEach(note => {
                            function getstar() {

                                var avgRate = note.avg;
                                var arr = [];
                                var i= 0;
                                for (i = 1; i <= 5; i++){
                                    if (i <= avgRate) {
                                        arr[i] = '<i class="fa fa-star"></i>';
                                    }
                                    else {
                                        arr[i] = '<i class="fa fa-star-o"></i>';
                                    }
                                }
                                return arr.join(" ");
                            }

                            var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                            var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                            var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                            <div class="note-wrapper">
                                <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                    <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="office">
                                                <div class="heading">
                                                    <h3 class="heading-sm">
                                                        ${note.Title}
                                                    </h3>
                                                </div>
                                                <ul class="university-details">
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/university.png" alt="">
                                                        </span><span>${note.UniversityName}</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/pages.png" alt="">
                                                        </span>
                                                        <span>${note.NumberOfPages} Pages</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/date.png" alt="">
                                                        </span>
                                                        <span>${ date }</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/flag.png" alt="">
                                                        </span>
                                                        <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                    </li>
                                                    <li>
                                                      <span class="starss">
                                                            ${getstar()}
                                                            
                                                            <p>${note.count} reviews</p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>`

                            main.append(wrapperDiv);


                        })
                    }
                })
            })

            //previous
            $("#prev").on("click", function (e) {

                var currentPage = $(".js-page.active");
                var id = $(".js-page.active").attr("id");

                if (+id + 1 == 1) {
                    return;
                }
                $.ajax({
                    method: "GET",
                    url: "@Url.Action("SearchNotesPagination", "Home")",
                    data: { start: (+id-1) * @Model.perPageCount , end: @Model.perPageCount },
                    success: function (notes) {
                        

                        currentPage.removeClass("active");
                        currentPage.parent("li").prev("li").children("a").addClass("active");

                        var main = $("#Main-notes");
                        main.html("");

                        notes.sellerNotes.forEach(note => {
                            function getstar() {
                                var count = note.count;
                                var avgRate = note.avg;
                                var arr = [];
                                var i = 0;
                                for (i = 1; i <= 5; i++) {
                                    if (i <= avgRate) {
                                        arr[i] = '<i class="fa fa-star"></i>';
                                    }
                                    else {
                                        arr[i] = '<i class="fa fa-star-o"></i>';
                                    }
                                }
                                return arr.join(" ");
                            }

                            var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                            var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                            var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                            <div class="note-wrapper">
                                <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                    <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="office">
                                                <div class="heading">
                                                    <h3 class="heading-sm">
                                                        ${note.Title}
                                                    </h3>
                                                </div>
                                                <ul class="university-details">
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/university.png" alt="">
                                                        </span><span>${note.UniversityName}</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/pages.png" alt="">
                                                        </span>
                                                        <span>${note.NumberOfPages} Pages</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/date.png" alt="">
                                                        </span>
                                                        <span>${date}</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/flag.png" alt="">
                                                        </span>
                                                        <span>5 Users marked this note as inappropriate</span>
                                                    </li>
                                                    <li>
                                                      <span class="starss">
                                                            ${getstar()}
                                                            <p>${note.count} reviews</p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>`

                            main.append(wrapperDiv);

                        })
                    }
                })
            })

            $(".js-page").on("click", function () {
                var id = $(this).attr("id");
                pagee = $(this);
                $(this).parents("li").siblings().children("a").removeClass("active");
                $.ajax({
                method: "GET",
                url: "@Url.Action("SearchNotesPagination", "Home")",
                data: { start: +id* @Model.perPageCount , count: @Model.perPageCount },
                    success: function (notes) {
                        pagee.addClass("active");

                        var main = $("#Main-notes");
                        main.html("");

                        notes.sellerNotes.forEach(note => {
                            function getstar() {
                                var avgRate = note.avg;
                                var arr = [];
                                var i = 0;
                                for (i = 1; i <= 5; i++) {
                                    if (i <= avgRate) {
                                        arr[i] = '<i class="fa fa-star"></i>';
                                    }
                                    else {
                                        arr[i] = '<i class="fa fa-star-o"></i>';
                                    }
                                }
                                return arr.join(" ");
                            }

                            var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                            var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                            var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                            <div class="note-wrapper">
                                <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                    <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="office">
                                                <div class="heading">
                                                    <h3 class="heading-sm">
                                                        ${note.Title}
                                                    </h3>
                                                </div>
                                                <ul class="university-details">
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/university.png" alt="">
                                                        </span><span>${note.UniversityName}</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/pages.png" alt="">
                                                        </span>
                                                        <span>${note.NumberOfPages} Pages</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/date.png" alt="">
                                                        </span>
                                                        <span>${ date } </span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/flag.png" alt="">
                                                        </span>
                                                        <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                    </li>
                                                    <li>
                                                      <span class="starss">
                                                            ${getstar()}
                                                            <p>${note.count} reviews</p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>`

                            main.append(wrapperDiv);

                        })

                },
                error: function (e) {
                    alert(e);
                }
            })
            })


            $("select").children("option:first-child").val(0);
            $("select").val(0);

            $("#CategoryId, #TypeId, #CountryId, #UniversityId, #CourseId, #SearchNotess, #rate").on("change", function () {

                var Categoryid = $("#CategoryId").val();
                var Typeid = $("#TypeId").val();
                var Countryid = $("#CountryId").val();
                var Universityid = $("#UniversityId").val();
                var Courseid = $("#CourseId").val();
                var search = $("#SearchNotess").val();
                var rate = $("#rate").val();
                
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("FilterNote", "User")?searchVal=" + search + "&CategoryId=" + Categoryid + "&TypeId=" + Typeid + "&University=" + Universityid + "&Course=" + Courseid +  "&CountryId=" + Countryid + "&rate=" +rate,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (request) { console.log(request); },
                    success: function (notes) {

                        var main = $("#Main-notes");
                        main.html("");
                        $("#Total-count").html("");
                        var count = `Total ${notes.totalCount} Notes`;
                        $("#Total-count").append(count);
                        notes.sellerNotes.forEach(note => {

                            function getstar() {
                                var avgRate = note.avg;
                                var arr = [];
                                var i = 0;
                                for (i = 1; i <= 5; i++) {
                                    if (i <= avgRate) {
                                        arr[i] = '<i class="fa fa-star"></i>';
                                    }
                                    else {
                                        arr[i] = '<i class="fa fa-star-o"></i>';
                                    }
                                }
                                return arr.join(" ");
                            }

                            var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                            var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                            var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                            <div class="note-wrapper">
                                <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                    <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="office">
                                                <div class="heading">
                                                    <h3 class="heading-sm">
                                                        ${note.Title}
                                                    </h3>
                                                </div>
                                                <ul class="university-details">
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/university.png" alt="">
                                                        </span><span>${note.UniversityName}</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/pages.png" alt="">
                                                        </span>
                                                        <span>${note.NumberOfPages} Pages</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/date.png" alt="">
                                                        </span>
                                                        <span>${ date }</span>
                                                    </li>
                                                    <li>
                                                        <span class="university-detail-img text-center">
                                                            <img src="/images/front/flag.png" alt="">
                                                        </span>
                                                        <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                    </li>
                                                    <li>
                                                      <span class="starss">
                                                           ${getstar()}
                                                            <p>${note.count} reviews</p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>`

                            main.append(wrapperDiv);

                        })

                        var page = $(".pagination");

                        $(".pagination").html("");
                        var paginationn1 = `<li class="page-item">
                                                <a class="page-link ajax-prev" id="prev" href="javascript:void(0)" aria-label="Previous">
                                                    <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                                                </a>
                                            </li>`;
                        page.append(paginationn1);
                        var i;
                        var totalPage;
                        totalPage = Math.ceil(notes.totalCount / @Model.perPageCount);
                       

                        for (i = 0; i < totalPage; i++){
                            if (i == 0) {
                                var p2 = `<li class="page-item" >
                                         <a class="page-link  ajax-page active" id="${i}"  href="javascript:void(0)">${i + 1}</a>
                                      </li>`;
                            }
                            else {
                                var p2 = `<li class="page-item" >
                                         <a class="page-link  ajax-page" id="${i}"  href="javascript:void(0)">${i + 1}</a>
                                      </li>`;
                            }
                            page.append(p2);
                        }


                        var p3 = `<li class="page-item">
                                                <a class="page-link ajax-next" id="next" href="javascript:void(0)" aria-label="Next">
                                                    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                                                </a>
                                            </li>`;
                        page.append(p3);

                        $(".ajax-page").on("click", function () {
                            var id = $(this).attr("id");

                            pagee = $(this);
                            $(this).parents("li").siblings().children("a").removeClass("active");

                            $.ajax({
                                method: "Post",
                                url: "@Url.Action("FilterNotePagination","User")",
                                data: { searchval: search, CategoryId: Categoryid, TypeId: Typeid, University: Universityid, Course: Courseid, CountryId: Countryid, rate: rate, start: +id * @Model.perPageCount, count: @Model.perPageCount },
                                success: function (notes) {
                                    pagee.addClass("active");
                                    var main = $("#Main-notes");
                                    main.html("");

                                    notes.sellerNotes.forEach(note => {

                                        function getstar() {
                                            var avgRate = note.avg;
                                            var arr = [];
                                            var i = 0;
                                            for (i = 1; i <= 5; i++) {
                                                if (i <= avgRate) {
                                                    arr[i] = '<i class="fa fa-star"></i>';
                                                }
                                                else {
                                                    arr[i] = '<i class="fa fa-star-o"></i>';
                                                }
                                            }
                                            return arr.join(" ");
                                        }

                                        var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                                        var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                                        var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                                        <div class="note-wrapper">
                                            <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                                <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="office">
                                                            <div class="heading">
                                                                <h3 class="heading-sm">
                                                                    ${note.Title}
                                                                </h3>
                                                            </div>
                                                            <ul class="university-details">
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/university.png" alt="">
                                                                    </span><span>${note.UniversityName}</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/pages.png" alt="">
                                                                    </span>
                                                                    <span>${note.NumberOfPages} Pages</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/date.png" alt="">
                                                                    </span>
                                                                    <span>${ date }</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/flag.png" alt="">
                                                                    </span>
                                                                    <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                                </li>
                                                                <li>
                                                                  <span class="starss">
                                                                        ${getstar()}
                                                                        <p>${note.count} reviews</p>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>`

                                        main.append(wrapperDiv);

                                    })

                                },
                                error: function (e) {
                                    console.log(e);
                                    alert("err");
                                }
                            })
                        });
                        $("#next").on("click", function () {
                            var id = $(".ajax-page.active").attr("id");
                            var currentPage = $(".ajax-page.active");
                            if (+id + 1 == Math.ceil(notes.totalCount / @Model.perPageCount)) {
                                return;
                            }
                            $.ajax({
                                method: "Post",
                                url: "@Url.Action("FilterNotePagination","User")",
                                data: { searchval: search, CategoryId: Categoryid, TypeId: Typeid, University: Universityid, Course: Courseid, CountryId: Countryid, rate: rate, start: (+id + 1) * @Model.perPageCount, count: @Model.perPageCount },
                                success: function (notes) {
                                    currentPage.removeClass("active");
                                    currentPage.parent("li").next("li").children("a").addClass("active");
                                    var main = $("#Main-notes");
                                    main.html("");

                                    notes.sellerNotes.forEach(note => {

                                        function getstar() {
                                            var avgRate = note.avg;
                                            var arr = [];
                                            var i = 0;
                                            for (i = 1; i <= 5; i++) {
                                                if (i <= avgRate) {
                                                    arr[i] = '<i class="fa fa-star"></i>';
                                                }
                                                else {
                                                    arr[i] = '<i class="fa fa-star-o"></i>';
                                                }
                                            }
                                            return arr.join(" ");
                                        }

                                        var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                                        var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                                        var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                                        <div class="note-wrapper">
                                            <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                                <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="office">
                                                            <div class="heading">
                                                                <h3 class="heading-sm">
                                                                    ${note.Title}
                                                                </h3>
                                                            </div>
                                                            <ul class="university-details">
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/university.png" alt="">
                                                                    </span><span>${note.UniversityName}</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/pages.png" alt="">
                                                                    </span>
                                                                    <span>${note.NumberOfPages} Pages</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/date.png" alt="">
                                                                    </span>
                                                                    <span>${ date }</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/flag.png" alt="">
                                                                    </span>
                                                                    <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                                </li>
                                                                <li>
                                                                  <span class="starss">
                                                                        ${getstar()}
                                                                        <p>${note.count} reviews</p>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>`

                                        main.append(wrapperDiv);

                                    })

                                },
                                error: function (e) {
                                    console.log(e);
                                    alert("err");
                                }
                            })
                        });
                        $("#prev").on("click", function () {
                            var id = $(".ajax-page.active").attr("id");
                            var currentPage = $(".ajax-page.active");
                             if (+id + 1 == 1) {
                                 return;
                             }
                            $.ajax({
                                method: "Post",
                                url: "@Url.Action("FilterNotePagination","User")",
                                data: { searchval: search, CategoryId: Categoryid, TypeId: Typeid, University: Universityid, Course: Courseid, CountryId: Countryid, rate: rate, start: (+id-1) * @Model.perPageCount, count: @Model.perPageCount },
                                success: function (notes) {
                                    currentPage.removeClass("active");
                                    currentPage.parent("li").prev("li").children("a").addClass("active");

                                    var main = $("#Main-notes");
                                    main.html("");

                                    notes.sellerNotes.forEach(note => {

                                        function getstar() {
                                            var avgRate = note.avg;
                                            var arr = [];
                                            var i = 0;
                                            for (i = 1; i <= 5; i++) {
                                                if (i <= avgRate) {
                                                    arr[i] = '<i class="fa fa-star"></i>';
                                                }
                                                else {
                                                    arr[i] = '<i class="fa fa-star-o"></i>';
                                                }
                                            }
                                            return arr.join(" ");
                                        }

                                        var dates = new Date(+note.CreatedDate.slice(6, 19)).toString();
                                        var date = dates.slice(0, 3) + ", " + dates.slice(4, 15);

                                        var wrapperDiv = `<div  class="col-lg-4 col-md-6 col-sm-6 for-note-detail" onclick="location.href='/User/ViewNote/${note.ID}';" style="cursor: pointer;" data-note-id="${note.ID}">
                                        <div class="note-wrapper">
                                            <div class="note-display-img" style="height:253px;margin-bottom:20px;">
                                                <img style="height:100%;object-fit:cover;" src="/Members/${note.SellerID}/${note.ID}/${note.DisplayPicture}" class="img-fluid note-image" alt="">
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="office">
                                                            <div class="heading">
                                                                <h3 class="heading-sm">
                                                                    ${note.Title}
                                                                </h3>
                                                            </div>
                                                            <ul class="university-details">
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/university.png" alt="">
                                                                    </span><span>${note.UniversityName}</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/pages.png" alt="">
                                                                    </span>
                                                                    <span>${note.NumberOfPages} Pages</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/date.png" alt="">
                                                                    </span>
                                                                    <span>${ date }</span>
                                                                </li>
                                                                <li>
                                                                    <span class="university-detail-img text-center">
                                                                        <img src="/images/front/flag.png" alt="">
                                                                    </span>
                                                                    <span>${note.inappropriateCount} Users marked this note as inappropriate</span>
                                                                </li>
                                                                <li>
                                                                  <span class="starss">
                                                                        ${getstar()}
                                                                        <p>${note.count} reviews</p>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>`

                                        main.append(wrapperDiv);

                                    })

                                },
                                error: function (e) {
                                    console.log(e);
                                    alert("err");
                                }
                            })
                        })

                    }
                })

            })

        })
    </script>
}