@model NoteMarketPlace.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="change-password-page" class="all-box">
    <div class="box-wrapper container">

        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6  col-md-8 col-sm-9 col-11">

                <div class="logo text-center">
                    <img src="~/images/login/top-logo.png" alt="logo">
                </div>
                <div class="box-form">

                    <div class="text-center">
                        <h2 class="form-heading">Change Password</h2>
                        <p class="form-text">Enter your new password to change your password</p>
                    </div>
                    @using (@Html.BeginForm("ChangeUserPassword", "Account", FormMethod.Post, new { id="changepass"}))
                    {
                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.TextBoxFor(m => m.OldPassword, new { 
                                type="password",
                                @class="form-control input-box", 
                                placeholder = "Enter Your Old Password"

                            })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                            @Html.ValidationMessage("incorrect")
                          
                            <i class="fa fa-eye eye-btn" id="eye-old-password"></i>
                        </div>

                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.TextBoxFor(m => m.NewPassword, new
                            {
                                type = "password",
                                @class = "form-control input-box",
                                placeholder = "Enter Your New Password"

                            })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                           
                            <i class="fa fa-eye eye-btn" id="eye-new-password"></i>
                        </div>

                        <div class="form-group box-grp">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.TextBoxFor(m => m.ConfirmPassword, new
                            {
                                type = "password",
                                @class = "form-control input-box",
                                placeholder = "Enter Your Confirm Password"

                            })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                         
                            <i class="fa fa-eye eye-btn" id="eye-confirm-changed-password"></i>
                        </div>
                        <a href="javascript:$('#changepass').submit();" class="btn login-submit-btn btn-height" role="button">Submit</a>
                    }
                    <input type="hidden" id="err" value="@ViewBag.err" />
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {

            var err = $("#err").val();
            if (err == "error") {
                $(".eye-btn").css("top", "36%");
            }

            $("#eye-old-password").on("click", function () {

                $(this).toggleClass("fa-eye-slash fa-eye");
                var input = $("#OldPassword");

                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password")
                }
            });
            $("#eye-new-password").click(function () {

                $(this).toggleClass("fa-eye-slash fa-eye");
                var input = $("#NewPassword");

                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password")
                }
            });
            $("#eye-confirm-changed-password").click(function () {

                $(this).toggleClass("fa-eye-slash fa-eye");
                var input = $("#ConfirmPassword");

                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password")
                }

            });
        })
    </script>
}